<?xml version="1.0" ?>
<launch>
  <arg name="image_topic" default="/camera/color/image_raw"/>
  <arg name="max_matches_number" default="10"/>
  <arg name="world_name" default="moving_kinect.world"/>

  <rosparam param="/max_matches_number" subst_value="True">$(arg max_matches_number)</rosparam>

  <include file="$(find camera_simulations)/launch/gazebo_world.launch"/>

  <node name="motion_detection_node" pkg="motion_detection" type="motion_detection_node.py">
    <remap from="image" to="$(arg image_topic)" />
  </node>
</launch>
