<?xml version="1.0"?>

<model>
  <name>Pavement Plane</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Magda Skoczen</name>
    <email>magda.skoczen@pwr.edu.pl</email>
  </author>

  <description>
    A simple ground plane with pavement texture.
  </description>
</model>
